root {
--PastelGreen: #b0f2b4ff;
--PastelBlue: #baf2e9ff;
--PastelPink: #ffcad4ff;
--PastelPurple: #ddb1e4ff;
}
header {
  position: fixed;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--PastelPink);
  font-weight: 300;
  padding: 15px;
  justify-content: center;
}

header h1 {
  padding-right: 40px;
  border-right: 1px solid var(PastelBlue);
}

header ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
  margin-left: 40px;
}

header li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

header li {
  align-self: center;
  text-decoration: none;
}

header li :hover {
  text-decoration: underline;
  color: #64829b;
}

.content {
  padding: 74px 50px;
  background-color: #f7f7f7;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}


img{
  margin: 0 auto;
  display: block;
}
image{
   height: 200px;
  width: 50%;
}
body{
background-color: #e3b26d;
}